*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background-color: #dadada;
}

div {
  width: 100%;
  margin: 0 0 5% 0;
}

.container {

}

.content {
  margin: 0 auto;
}

#pic-1 {
    background-image: url("../images/baku.jpg");
}

#pic-2 {
    background-image: url("../images/london.png");
}

#pic-3 {
    background-image: url("../images/madrid.jpg");
}

#pic-4 {
    background-image: url("../images/rome.jpg");
}

.image-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-size: cover;
  height: 300px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 30px 0px 30px 0px;
}

h2 {
  font-family: 'DM Serif Display', Times, serif;
  font-size: 2em;
  position: absolute;
  margin: 20px;
}

/* tablets */
@media screen and (min-width: 575px){
   .image-container {
    margin: 2%;
    padding: 2%;
    width: 40%;
    height: 300px;
    float: left;
  }
}

/* laptops & wider */
@media screen and (min-width: 991px){
   div {
    margin: 2%;
    width: 20%;
    float: left;
  }

}
